server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service-auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**

        - id: user-service-users
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**

        - id: user-service-technicians
          uri: http://localhost:8081
          predicates:
            - Path=/api/technicians/**

        - id: maintenance-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/maintenance/**

        - id: voice-service
          uri: http://localhost:8000
          predicates:
            - Path=/api/speech-to-text, /api/text-to-speech, /api/recognize-intent

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

management:
  endpoints:
    web:
      exposure:
        include: health, info, gateway
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.homegenie: DEBUG
